body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #bd6513;
}

a:hover {
  color: #bf7937;
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Raleway", sans-serif;
}

/* .back-to-top {
    position: fixed;
    display: none;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
  }
  
  .back-to-top i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background: #bd6513;
    color: #fff;
    transition: all 0.4s;
  }
  
  .back-to-top i:hover {
    background: #BF7937;
    color: #fff;
  } */

#header {
  background: white;
  transition: all 0.5s;
  padding: 2px 0;
  width: 100%;
  height: 100px;
}

/* #header.header-scrolled {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 12px 0;
  }
  
  #header.header-inner-pages {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }
  
  #header .logo {
    font-size: 28px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
  }
*/
#header .logo {
  margin-left: 80px;
  width: 160px;
}

#header .logo .img-fluid {
  width: 150px;
  height: 100px;
}

.nav-menu {
  margin: 0;
  width: 80%;
  padding: 30px 10px;
  text-align: right;
}

.nav-menu a {
  display: inline-block;
  color: #556270;
  transition: 0.3s;
  font-size: 15px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  padding: 5px 10px;
}
.nav-menu form {
  float: right;
  padding-left: 30px;
}

.nav-menu a:hover,
.nav-menu .active > a,
.nav-menu li:hover > a {
  color: #bd6513;
}

/* .nav-menu .drop-down ul {
    display: block;
    position: absolute;
    left: 15px;
    top: calc(100% + 30px);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    padding: 10px 0;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
  }
   */

.search-container > li {
  /* position: relative; */
  /* white-space: nowrap; */
  padding: 0;
  display: inline;
}

.search-container {
  /* margin-left: 1000px; */
  border-radius: 4px;
  padding: 0;
  padding-top: 0px;
  /* white-space: nowrap; */
  font-size: 14px;
  /* display: inline-block; */
}

.carousel .carousel-inner {
    background-color: beige;
}

.carousel .carousel-inner .item img {
    margin: auto;
    width: 80%;
    height: 465px; /*600px to show img properly*/
  }

/* .gallery {
    background: #ffffff;
    padding: 0 0 30px 0;
    color: #fff;
    font-size: 14px;
  }
   */
#footer {
  background: #4a5562;
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 14px;
  width: 100%;
}

#footer .sec1 {
  background: #515d6a;
  padding: 60px 0 30px 0;
}

#footer .row {
  margin: 0 100px 0 100px;
}
#footer .sec1 .info {
  margin-bottom: 30px;
}

#footer .sec1 .info h3 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

#footer .sec1 .info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #fff;
}

#footer .sec1 h4 {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  position: relative;
  padding-bottom: 10px;
}

/* #footer .sec1 .foot-links {
    margin-bottom: 30px;
  } */

#footer .sec1 .foot-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* #footer .sec1 .foot-links ul i {
    padding-right: 2px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 18px;
    line-height: 1;
  }
   */
#footer .sec1 .foot-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

/* #footer .sec1 .foot-links ul li:first-child {
    padding-top: 0;
  } */

#footer .sec1 .foot-links ul a {
  color: rgba(255, 255, 255, 0.6);
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .sec1 .foot-links ul a:hover {
  color: white;
}

/* Footer Tail */

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}

#footer .designed {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.6);
}
